<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="preload">
    <div class="top"></div>
    <div class="profile" style="background-image: #FFFFFF">
        <img src="../portfolio.jpg" class="img-circle" />
	<h2 class="page_title", align="center">{{ site.name }}</h2>
    </div>
    <div class="overview">
        {{ content }}
    </div>
</body>
<script type="text/javascript">
    window.onload = function(){
        document.getElementsByTagName("BODY")[0].classList.remove("preload");
    }
</script>
</html>
